button{
  background: linear-gradient(135deg, #0f172a, #1e293b, #3b0764);
  font-weight:bold;
  color:wheat;
}
button:hover{
    transform: translateY(10);
    transform: scale(1.1);
}
.MainOne{
    display: flex;
    align-items: center;
    justify-content: center;
}